In [20]:
import pandas as pd
import numpy as np

In [21]:
bike= pd.read_csv('행정동별_반납건수_대여건수_대여소수_대여소당_하루평균.csv', encoding='cp949')
bike

     행정동명    행정동_코드  대여소당_하루평균_반납건수  대여소당_하루평균_대여건수  대여소수
0    가락1동  11710631           42.58           42.35     7
1    가락2동  11710632           47.42           46.97     5
2    가락본동  11710620           29.90           31.00     6
3    가리봉동  11530595           27.84           28.74     1
4     가산동  11545510           43.42           43.35    19
..    ...       ...             ...             ...   ...
411   효창동  11170580           19.81           21.13     2
412   후암동  11170510           13.26           14.65     2
413  휘경1동  11230720           41.19           41.10     4
414  휘경2동  11230730           54.03           53.26     7
415   흑석동  11590605           16.94           18.58    11

[416 rows x 5 columns]

# 행정동코드, 행정동명으로 join

In [22]:
rc= pd.read_csv('행정동별_대규모점포개수.csv',encoding='cp949')
business= pd.read_csv('행정동별_사업체수.csv',encoding='cp949')
hospital= pd.read_csv('행정동별_병원수.csv',encoding='cp949')
food= pd.read_csv('행정동별_음식점수.csv',encoding='cp949')
park= pd.read_csv('행정동별_공원수.csv',encoding='cp949')
cafe= pd.read_csv('행정동별_카페수.csv',encoding='cp949')
house= pd.read_csv('행정동별_주거단지수.csv',encoding='cp949')
bank= pd.read_csv('행정동별_은행.csv',encoding='cp949')
car= pd.read_csv('행정동별_자동차수.csv',encoding='cp949')
school= pd.read_csv('행정동별_학교수.csv',encoding='cp949')
bus_real= pd.read_csv('행정동별_버스_정류장수_승하차인원.csv',encoding='cp949')
subway_real= pd.read_csv('행정동별_지하철역_역사수_승하차인원.csv',encoding='cp949')
people= pd.read_csv('행정동별_연령대_생활인구.csv',encoding='cp949')

In [23]:
bike=pd.merge(bike,rc,on='행정동_코드',how='left')
bike=pd.merge(bike,business,on='행정동명',how='left')
bike=pd.merge(bike,hospital,on='행정동_코드',how='left')
bike=pd.merge(bike,food,on='행정동명',how='left')
bike=pd.merge(bike,park,on='행정동_코드',how='left')
bike=pd.merge(bike,cafe,on='행정동_코드',how='left')
bike=pd.merge(bike,house,on="행정동명",how='left')
bike=pd.merge(bike,bank,on='행정동명',how='left')
bike=pd.merge(bike,car,on='행정동명',how='left')
bike=pd.merge(bike,school,on='행정동_코드',how='left')
bike=pd.merge(bike,bus_real,on='행정동_코드',how='left')
bike=pd.merge(bike,subway_real,on='행정동_코드',how='left')
bike=pd.merge(bike,people,on='행정동_코드',how='left')
bike

,행정동명_x,행정동_코드,대여소당_하루평균_반납건수,대여소당_하루평균_대여건수,대여소수,대규모점포개수,사업체수,병원수,음식점수,공원수,...,남자60대,남자70대이상,여자0~9세,여자10대,여자20대,여자30대,여자40대,여자50대,여자60대,여자70대이상
0,가락1동,11710631,42.58,42.35,7,2.0,2988.0,5.0,287.0,NaN,...,39279.78,25572.03,21462.96,26269.89,37340.87,63199.29,53669.20,56419.00,46770.79,33483.47
1,가락2동,11710632,47.42,46.97,5,6.0,1901.0,44.0,144.0,1.0,...,36486.47,27235.70,27266.29,37623.89,43008.96,53467.95,61379.82,59961.07,47852.46,40968.07
2,가락본동,11710620,29.90,31.00,6,2.0,3489.0,44.0,1986.0,NaN,...,47993.64,29118.88,28307.03,33042.97,67452.62,81496.19,76617.26,78745.07,55112.75,39906.06
3,가리봉동,11530595,27.84,28.74,1,NaN,993.0,8.0,326.0,NaN,...,16501.66,9796.51,1628.15,3141.69,24724.62,23998.43,17637.52,21234.31,14367.82,15249.66
4,가산동,11545510,43.42,43.35,19,7.0,16661.0,57.0,2419.0,NaN,...,56961.42,25773.79,11959.29,16029.77,163080.66,141960.79,92089.70,75059.80,42315.15,28966.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,효창동,11170580,19.81,21.13,2,NaN,418.0,14.0,110.0,1.0,...,10387.09,10073.41,10420.71,10713.03,20631.12,24206.48,19457.64,19675.08,14148.53,19063.61
412,후암동,11170510,13.26,14.65,2,NaN,928.0,15.0,301.0,NaN,...,17221.31,12924.93,8083.37,11368.53,25913.49,32108.32,29707.73,24658.22,20501.38,24725.54
413,휘경1동,11230720,41.19,41.10,4,NaN,929.0,39.0,455.0,NaN,...,17359.21,15414.41,9111.12,16476.38,60679.10,27767.30,22969.57,25412.94,20482.21,25691.09
414,휘경2동,11230730,54.03,53.26,7,NaN,1221.0,28.0,59.0,NaN,...,20807.92,20109.40,14059.11,23551.61,52511.26,28566.01,31472.69,33902.75,28311.26,32882.45
415,흑석동,11590605,16.94,18.58,11,1.0,1557.0,32.0,591.0,NaN,...,35901.53,31130.74,24733.47,28175.61,78056.37,55454.68,52868.71,52909.51,43969.54,55797.41

In [24]:
# join하면서 발생한 column 수정
bike=bike.drop(['행정동명_y'],axis=1)
bike=bike.drop(['행정동명'],axis=1)
bike.rename(columns={'행정동명_x':'행정동명'},inplace=True)
bike

,행정동명,행정동_코드,대여소당_하루평균_반납건수,대여소당_하루평균_대여건수,대여소수,대규모점포개수,사업체수,병원수,음식점수,공원수,...,남자60대,남자70대이상,여자0~9세,여자10대,여자20대,여자30대,여자40대,여자50대,여자60대,여자70대이상
0,가락1동,11710631,42.58,42.35,7,2.0,2988.0,5.0,287.0,NaN,...,39279.78,25572.03,21462.96,26269.89,37340.87,63199.29,53669.20,56419.00,46770.79,33483.47
1,가락2동,11710632,47.42,46.97,5,6.0,1901.0,44.0,144.0,1.0,...,36486.47,27235.70,27266.29,37623.89,43008.96,53467.95,61379.82,59961.07,47852.46,40968.07
2,가락본동,11710620,29.90,31.00,6,2.0,3489.0,44.0,1986.0,NaN,...,47993.64,29118.88,28307.03,33042.97,67452.62,81496.19,76617.26,78745.07,55112.75,39906.06
3,가리봉동,11530595,27.84,28.74,1,NaN,993.0,8.0,326.0,NaN,...,16501.66,9796.51,1628.15,3141.69,24724.62,23998.43,17637.52,21234.31,14367.82,15249.66
4,가산동,11545510,43.42,43.35,19,7.0,16661.0,57.0,2419.0,NaN,...,56961.42,25773.79,11959.29,16029.77,163080.66,141960.79,92089.70,75059.80,42315.15,28966.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,효창동,11170580,19.81,21.13,2,NaN,418.0,14.0,110.0,1.0,...,10387.09,10073.41,10420.71,10713.03,20631.12,24206.48,19457.64,19675.08,14148.53,19063.61
412,후암동,11170510,13.26,14.65,2,NaN,928.0,15.0,301.0,NaN,...,17221.31,12924.93,8083.37,11368.53,25913.49,32108.32,29707.73,24658.22,20501.38,24725.54
413,휘경1동,11230720,41.19,41.10,4,NaN,929.0,39.0,455.0,NaN,...,17359.21,15414.41,9111.12,16476.38,60679.10,27767.30,22969.57,25412.94,20482.21,25691.09
414,휘경2동,11230730,54.03,53.26,7,NaN,1221.0,28.0,59.0,NaN,...,20807.92,20109.40,14059.11,23551.61,52511.26,28566.01,31472.69,33902.75,28311.26,32882.45
415,흑석동,11590605,16.94,18.58,11,1.0,1557.0,32.0,591.0,NaN,...,35901.53,31130.74,24733.47,28175.61,78056.37,55454.68,52868.71,52909.51,43969.54,55797.41

In [25]:
bike[['남자0~9세','남자10대','남자20대','남자30대','남자40대','남자50대','남자60대','남자70대이상']] = bike[['남자0~9세','남자10대','남자20대','남자30대','남자40대','남자50대','남자60대','남자70대이상']].astype(float)
print(bike['남자70대이상'][1]+bike['남자0~9세'][1])

52313.21

In [26]:
#남/여 전체 생활인구 column 추가하기
bike['남_생활인구']=bike[['남자0~9세','남자10대','남자20대','남자30대','남자40대','남자50대','남자60대','남자70대이상']].sum(axis=1)
bike['여_생활인구']=bike[['여자0~9세','여자10대','여자20대','여자30대','여자40대','여자50대','여자60대','여자70대이상']].sum(axis=1)
bike

,행정동명,행정동_코드,대여소당_하루평균_반납건수,대여소당_하루평균_대여건수,대여소수,대규모점포개수,사업체수,병원수,음식점수,공원수,...,여자0~9세,여자10대,여자20대,여자30대,여자40대,여자50대,여자60대,여자70대이상,남_생활인구,여_생활인구
0,가락1동,11710631,42.58,42.35,7,2.0,2988.0,5.0,287.0,NaN,...,21462.96,26269.89,37340.87,63199.29,53669.20,56419.00,46770.79,33483.47,321525.67,338615.47
1,가락2동,11710632,47.42,46.97,5,6.0,1901.0,44.0,144.0,1.0,...,27266.29,37623.89,43008.96,53467.95,61379.82,59961.07,47852.46,40968.07,314295.99,371528.51
2,가락본동,11710620,29.90,31.00,6,2.0,3489.0,44.0,1986.0,NaN,...,28307.03,33042.97,67452.62,81496.19,76617.26,78745.07,55112.75,39906.06,449157.07,460679.95
3,가리봉동,11530595,27.84,28.74,1,NaN,993.0,8.0,326.0,NaN,...,1628.15,3141.69,24724.62,23998.43,17637.52,21234.31,14367.82,15249.66,152135.15,121982.20
4,가산동,11545510,43.42,43.35,19,7.0,16661.0,57.0,2419.0,NaN,...,11959.29,16029.77,163080.66,141960.79,92089.70,75059.80,42315.15,28966.70,814951.84,571461.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,효창동,11170580,19.81,21.13,2,NaN,418.0,14.0,110.0,1.0,...,10420.71,10713.03,20631.12,24206.48,19457.64,19675.08,14148.53,19063.61,106881.68,138316.20
412,후암동,11170510,13.26,14.65,2,NaN,928.0,15.0,301.0,NaN,...,8083.37,11368.53,25913.49,32108.32,29707.73,24658.22,20501.38,24725.54,162641.75,177066.58
413,휘경1동,11230720,41.19,41.10,4,NaN,929.0,39.0,455.0,NaN,...,9111.12,16476.38,60679.10,27767.30,22969.57,25412.94,20482.21,25691.09,174686.46,208589.71
414,휘경2동,11230730,54.03,53.26,7,NaN,1221.0,28.0,59.0,NaN,...,14059.11,23551.61,52511.26,28566.01,31472.69,33902.75,28311.26,32882.45,218512.85,245257.14
415,흑석동,11590605,16.94,18.58,11,1.0,1557.0,32.0,591.0,NaN,...,24733.47,28175.61,78056.37,55454.68,52868.71,52909.51,43969.54,55797.41,340907.45,391965.30

In [27]:
#결측치는 0으로 바꿔주기
bike=bike.fillna(0)
bike

,행정동명,행정동_코드,대여소당_하루평균_반납건수,대여소당_하루평균_대여건수,대여소수,대규모점포개수,사업체수,병원수,음식점수,공원수,...,여자0~9세,여자10대,여자20대,여자30대,여자40대,여자50대,여자60대,여자70대이상,남_생활인구,여_생활인구
0,가락1동,11710631,42.58,42.35,7,2.0,2988.0,5.0,287.0,0.0,...,21462.96,26269.89,37340.87,63199.29,53669.20,56419.00,46770.79,33483.47,321525.67,338615.47
1,가락2동,11710632,47.42,46.97,5,6.0,1901.0,44.0,144.0,1.0,...,27266.29,37623.89,43008.96,53467.95,61379.82,59961.07,47852.46,40968.07,314295.99,371528.51
2,가락본동,11710620,29.90,31.00,6,2.0,3489.0,44.0,1986.0,0.0,...,28307.03,33042.97,67452.62,81496.19,76617.26,78745.07,55112.75,39906.06,449157.07,460679.95
3,가리봉동,11530595,27.84,28.74,1,0.0,993.0,8.0,326.0,0.0,...,1628.15,3141.69,24724.62,23998.43,17637.52,21234.31,14367.82,15249.66,152135.15,121982.20
4,가산동,11545510,43.42,43.35,19,7.0,16661.0,57.0,2419.0,0.0,...,11959.29,16029.77,163080.66,141960.79,92089.70,75059.80,42315.15,28966.70,814951.84,571461.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,효창동,11170580,19.81,21.13,2,0.0,418.0,14.0,110.0,1.0,...,10420.71,10713.03,20631.12,24206.48,19457.64,19675.08,14148.53,19063.61,106881.68,138316.20
412,후암동,11170510,13.26,14.65,2,0.0,928.0,15.0,301.0,0.0,...,8083.37,11368.53,25913.49,32108.32,29707.73,24658.22,20501.38,24725.54,162641.75,177066.58
413,휘경1동,11230720,41.19,41.10,4,0.0,929.0,39.0,455.0,0.0,...,9111.12,16476.38,60679.10,27767.30,22969.57,25412.94,20482.21,25691.09,174686.46,208589.71
414,휘경2동,11230730,54.03,53.26,7,0.0,1221.0,28.0,59.0,0.0,...,14059.11,23551.61,52511.26,28566.01,31472.69,33902.75,28311.26,32882.45,218512.85,245257.14
415,흑석동,11590605,16.94,18.58,11,1.0,1557.0,32.0,591.0,0.0,...,24733.47,28175.61,78056.37,55454.68,52868.71,52909.51,43969.54,55797.41,340907.45,391965.30

In [28]:
#colunms 이름 영어로 바꾸기
bike.rename(columns = {'행정동명':'Dong_name','행정동_코드':'code_dong','대여소당_하루평균_반납건수':'return_day',
                            '대여소당_하루평균_대여건수':'rent_day','대여소수':'rental_stop','대규모점포개수':'large_store',
                           '사업체수':'company','병원수':'hospital','음식점수':'restaurant',
                           '공원수':'park','카페수':'cafe','주거단지수':'house','자동차수':'car',
                           '은행 수':'bank','남자0~9세':'M_child','남자10대':'M_teenager','남자20대':'M_20',
                           '남자30대':'M_30','남자40대':'M_40','남자50대':'M_50','남자60대':'M_60','남자70대이상':'M_over70',
                           '여자0~9세':'W_child','여자10대':'W_teenager','여자20대':'W_20',
                           '여자30대':'W_30','여자40대':'W_40','여자50대':'W_50','여자60대':'W_60','여자70대이상':'W_over70',
                           '남_생활인구':'M_sum','여_생활인구':'W_sum','정류장수':'bus_stop',
                           '정류장별_승차승객수':'bus_geton_people','정류장별_하차승객수':'bus_getoff_people',
                           '역사수':'subway_station','역사별_승차승객수':'subway_geton_people','역사별_하차승객수':'subway_getoff_people',
                           '학교수':'school'},inplace=True)
bike

,Dong_name,code_dong,return_day,rent_day,rental_stop,large_store,company,hospital,restaurant,park,...,W_child,W_teenager,W_20,W_30,W_40,W_50,W_60,W_over70,M_sum,W_sum
0,가락1동,11710631,42.58,42.35,7,2.0,2988.0,5.0,287.0,0.0,...,21462.96,26269.89,37340.87,63199.29,53669.20,56419.00,46770.79,33483.47,321525.67,338615.47
1,가락2동,11710632,47.42,46.97,5,6.0,1901.0,44.0,144.0,1.0,...,27266.29,37623.89,43008.96,53467.95,61379.82,59961.07,47852.46,40968.07,314295.99,371528.51
2,가락본동,11710620,29.90,31.00,6,2.0,3489.0,44.0,1986.0,0.0,...,28307.03,33042.97,67452.62,81496.19,76617.26,78745.07,55112.75,39906.06,449157.07,460679.95
3,가리봉동,11530595,27.84,28.74,1,0.0,993.0,8.0,326.0,0.0,...,1628.15,3141.69,24724.62,23998.43,17637.52,21234.31,14367.82,15249.66,152135.15,121982.20
4,가산동,11545510,43.42,43.35,19,7.0,16661.0,57.0,2419.0,0.0,...,11959.29,16029.77,163080.66,141960.79,92089.70,75059.80,42315.15,28966.70,814951.84,571461.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,효창동,11170580,19.81,21.13,2,0.0,418.0,14.0,110.0,1.0,...,10420.71,10713.03,20631.12,24206.48,19457.64,19675.08,14148.53,19063.61,106881.68,138316.20
412,후암동,11170510,13.26,14.65,2,0.0,928.0,15.0,301.0,0.0,...,8083.37,11368.53,25913.49,32108.32,29707.73,24658.22,20501.38,24725.54,162641.75,177066.58
413,휘경1동,11230720,41.19,41.10,4,0.0,929.0,39.0,455.0,0.0,...,9111.12,16476.38,60679.10,27767.30,22969.57,25412.94,20482.21,25691.09,174686.46,208589.71
414,휘경2동,11230730,54.03,53.26,7,0.0,1221.0,28.0,59.0,0.0,...,14059.11,23551.61,52511.26,28566.01,31472.69,33902.75,28311.26,32882.45,218512.85,245257.14
415,흑석동,11590605,16.94,18.58,11,1.0,1557.0,32.0,591.0,0.0,...,24733.47,28175.61,78056.37,55454.68,52868.71,52909.51,43969.54,55797.41,340907.45,391965.30

In [29]:
data=pd.DataFrame(bike)
data.to_csv("최종데이터.csv",mode="w",encoding='euc-kr',index=False)