In [74]:
import pandas as pd
import numpy as np

# 은행

In [100]:
#은행 데이터 불러오기
bank = pd.read_csv('은행수.csv')
bank

,기간,자치구,동,금융기관,금융기관.1,금융기관.2,금융기관.3,금융기관.4,금융기관.5,금융기관.6,금융기관.7,금융기관.8,금융기관.9,금융기관.10,금융기관.11,금융기관.12,금융기관.13,금융기관.14
0,기간,자치구,동,합계,한국은행,시중은행,시중은행,시중은행,시중은행,시중은행,시중은행,지방은행,특수은행,특수은행,특수은행,특수은행,기타,기타
1,기간,자치구,동,합계,한국은행,우리은행,SC제일은행,KB국민은행,신한은행,한국씨티은행,KEB하나은행,지방은행,IBK기업은행,NH농협은행,수협은행,KDB산업은행,한국수출입은행,외국은행
2,2021,합계,합계,"1,884",2,343,91,341,321,20,254,43,193,163,58,19,2,34
3,2021,종로구,소계,111,-,20,5,18,15,5,14,1,7,14,1,1,-,10
4,2021,종로구,사직동,24,-,2,-,2,3,5,4,1,1,5,-,-,-,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,2021,강동구,천호2동,3,-,-,-,-,1,-,1,-,-,1,-,-,-,-
385,2021,강동구,길동,9,-,3,-,1,1,-,-,1,1,1,1,-,-,-
386,2021,강동구,강일동,1,-,-,-,-,-,-,-,-,1,-,-,-,-,-
387,2021,강동구,상일1동,2,-,1,-,-,-,-,1,-,-,-,-,-,-,-
388,2021,강동구,상일2동,2,-,1,-,1,-,-,-,-,-,-,-,-,-,-

In [101]:
#필요한 열 추출
bank = bank.iloc[4:,2:4]
bank.rename(columns = {'동':'행정동명','금융기관':'은행 수'}, inplace =True)
bank

     행정동명 은행 수
4     사직동   24
5     삼청동    3
6     부암동    2
7     평창동    2
8     무악동    1
..    ...  ...
384  천호2동    3
385    길동    9
386   강일동    1
387  상일1동    2
388  상일2동    2

[385 rows x 2 columns]

In [103]:
#CSV 내보내기
bank.to_csv("행정동별_은행.csv",mode="w",encoding='euc-kr',index=False)

# 자동차 등록현황

In [104]:
#자동차 불러오기
car = pd.read_csv('행정동별 연료별 자동차 등록현황.csv')
car

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_16768\2132171989.py:2: DtypeWarning: Columns (0,2,4,8) have mixed types. Specify dtype option on import or set low_memory=False.
  car = pd.read_csv('C://Users//SAMSUNG//Desktop//feature//행정동별 연료별 자동차 등록현황.csv')

,2015년 ~ 2021년도 12월말 기준 행정동별 용도별 차종별 연료별 등록 현황,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,연월,사용본거지시군구,시군구코드,행정동사용본거지,행정동사용본거지코드,용도,차종종별,연료,건수
1,201512,서울특별시 종로구,11110,NaN,58000,자가용,화물,경유,1
2,201512,서울특별시 종로구,11110,NaN,60000,자가용,승용,휘발유,2
3,201512,서울특별시 종로구,11110,NaN,60000,자가용,화물,휘발유,1
4,201512,서울특별시 종로구,11110,NaN,61500,자가용,화물,휘발유,2
...,...,...,...,...,...,...,...,...,...
101557,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌1동,1174069000.0,영업용,승합,엘피지,76
101558,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌1동,1174069000.0,영업용,화물,전기,1
101559,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌2동,1174070000.0,자가용,승용,경유,1894
101560,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌2동,1174070000.0,자가용,화물,기타연료,6
101561,202112,서울특별시 강동구,11740,서울특별시 강동구 둔촌2동,1174070000.0,자가용,특수,엘피지,2

In [105]:
#필요한 열 추출 및 이름변경
car = car.iloc[:,3:]
car = car.dropna(subset=['Unnamed: 3'])
car.rename(columns = {'Unnamed: 3':'주소','Unnamed: 4':'행정동_코드','Unnamed: 5':'용도',
                      'Unnamed: 6':'차종','Unnamed: 7':'연료','Unnamed: 8':'자동차수'}, inplace =True)
car = car.iloc[1:,:]
del car['용도']
del car['차종']
del car['연료']
del car['행정동_코드']
car

                     주소  자동차수
10      서울특별시 종로구 청운효자동    17
11      서울특별시 종로구 청운효자동   884
12      서울특별시 종로구 청운효자동     3
13      서울특별시 종로구 청운효자동    13
14        서울특별시 종로구 사직동     1
...                 ...   ...
101557   서울특별시 강동구 둔촌1동    76
101558   서울특별시 강동구 둔촌1동     1
101559   서울특별시 강동구 둔촌2동  1894
101560   서울특별시 강동구 둔촌2동     6
101561   서울특별시 강동구 둔촌2동     2

[90705 rows x 2 columns]

In [106]:
#feautre type 변경
car = car.astype({'주소':str,'자동차수':int})
car = car[~car["주소"].str.contains('경기도')]
car

                     주소  자동차수
10      서울특별시 종로구 청운효자동    17
11      서울특별시 종로구 청운효자동   884
12      서울특별시 종로구 청운효자동     3
13      서울특별시 종로구 청운효자동    13
14        서울특별시 종로구 사직동     1
...                 ...   ...
101557   서울특별시 강동구 둔촌1동    76
101558   서울특별시 강동구 둔촌1동     1
101559   서울특별시 강동구 둔촌2동  1894
101560   서울특별시 강동구 둔촌2동     6
101561   서울특별시 강동구 둔촌2동     2

[90662 rows x 2 columns]

In [107]:
#주소에서 '행정동' 가져오기
car['행정동명'] = car['주소'].str.split(' ').str[2]
del car['주소']
car

        자동차수   행정동명
10        17  청운효자동
11       884  청운효자동
12         3  청운효자동
13        13  청운효자동
14         1    사직동
...      ...    ...
101557    76   둔촌1동
101558     1   둔촌1동
101559  1894   둔촌2동
101560     6   둔촌2동
101561     2   둔촌2동

[90662 rows x 2 columns]

In [108]:
#행정동별 자동차수 구하기
cars = car.groupby(car['행정동명'],as_index=False).sum()
cars['행정동명']=cars['행정동명'].astype(str)
cars

     행정동명    자동차수
0    가락1동   42080
1    가락2동   77543
2    가락본동   83856
3    가리봉동   19644
4     가산동  134465
..    ...     ...
447   효창동   20437
448   후암동   28299
449  휘경1동   25513
450  휘경2동   44784
451   흑석동   60445

[452 rows x 2 columns]

In [109]:
#CSV내보내기
cars.to_csv("행정동별_자동차수.csv",mode="w",encoding='euc-kr',index=False)

# 연령대별 생활인구

In [117]:
#연령대별 생활인구 데이터 가져오기
people = pd.read_csv('LOCAL_PEOPLE_DONG_202107.csv')
people

,Unnamed: 0,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,0.0,20210701,0,11215770,28533.7113,763.2881,372.6847,729.5917,774.3405,1152.7864,...,1306.2910,1250.8639,1192.4046,1050.8588,1079.8463,1312.8096,1316.1445,1228.8927,873.3344,2177.6191
1,1.0,20210701,0,11320515,19580.3969,728.4130,349.1912,539.8627,509.4779,675.3937,...,704.4402,704.0394,764.8083,668.0030,828.2324,728.2488,932.7449,916.6139,622.2334,1333.7960
2,NaN,20210701,0,11680580,19090.0711,521.8753,307.0959,485.5244,511.1350,761.8452,...,733.2276,833.3975,981.5200,741.3429,836.4737,639.8057,554.3019,545.2800,362.1289,1015.2116
3,NaN,20210701,0,11350670,23297.2744,756.7022,525.7613,746.1514,755.0312,665.5562,...,716.3059,602.6683,689.1256,664.1868,1007.0397,1029.8506,1222.9389,968.1319,785.2258,2244.8963
4,NaN,20210701,0,11410620,25661.5097,794.0470,439.8545,740.9631,786.6212,752.3308,...,841.8491,879.2016,969.9646,956.3275,1018.2584,1090.9099,1294.6144,1018.7240,728.8506,2270.7746
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315451,NaN,20210731,23,11650581,31212.6517,1393.4591,793.8491,1037.6225,774.9545,639.9142,...,798.8347,1005.7412,1371.9941,1669.1626,1741.4170,1109.3417,1076.7465,930.9904,756.4433,1985.9019
315452,NaN,20210731,23,11500540,49462.8548,1306.0519,467.2702,769.5603,1320.4908,2542.0687,...,2886.3349,2582.8922,2336.2776,1734.9756,1758.2947,1662.7443,1926.5014,1861.0707,1578.4268,3383.3946
315453,NaN,20210731,23,11380580,29337.4679,798.4573,562.3296,1039.6844,669.5937,933.3209,...,1105.0493,1298.2101,1562.8802,1322.4426,1285.2753,1000.7397,1208.5396,982.5338,750.5187,2152.6911
315454,NaN,20210731,23,11350570,23656.9448,817.2686,430.8783,565.0051,653.3117,596.3385,...,589.6747,708.0286,817.6247,897.1046,897.5826,945.8255,1026.5744,961.8298,885.3165,2440.1912
315455,NaN,20210731,23,11680656,28224.9118,1361.7183,887.3732,1160.5316,606.8198,495.0701,...,597.5228,626.0393,1104.4577,1522.6141,1856.7853,1134.2781,873.9403,658.3067,657.6419,1405.0754

In [118]:
#필요없는 열 삭제
del people['Unnamed: 0']
del people['기준일ID']
del people['시간대구분']
del people['총생활인구수']

In [119]:
#행정동코드별 연령대 생활인구수 합 구하기
people2 = people.groupby(['행정동코드'],as_index=False).sum()
people2['행정동코드']=people2['행정동코드'].astype(int)
people2.rename(columns={'행정동코드':'행정동_코드'},inplace=True)
people2

,행정동_코드,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,11110515,4.191558e+05,267087.0633,408424.6299,4.136476e+05,4.680270e+05,4.152517e+05,4.556999e+05,4.750587e+05,5.815911e+05,...,4.344583e+05,4.317211e+05,4.742903e+05,5.008783e+05,6.147566e+05,4.561361e+05,4.855254e+05,3.420693e+05,2.624238e+05,8.735710e+05
1,11110530,2.854198e+05,126853.2624,212922.5727,3.244386e+05,6.534535e+05,7.646579e+05,9.959946e+05,9.031251e+05,1.070096e+06,...,9.239926e+05,9.258584e+05,9.842945e+05,8.413068e+05,8.090880e+05,6.364455e+05,5.961758e+05,4.810333e+05,3.354066e+05,9.421094e+05
2,11110540,5.174425e+04,39648.3429,147388.5212,2.855153e+05,1.547595e+05,1.779054e+05,1.950738e+05,1.777599e+05,2.101808e+05,...,1.502787e+05,1.595058e+05,1.788598e+05,1.602263e+05,1.656789e+05,1.370777e+05,1.400964e+05,1.249982e+05,1.008150e+05,2.265504e+05
3,11110550,3.038459e+05,235597.9273,330177.4754,3.750320e+05,2.985215e+05,2.661393e+05,3.636404e+05,3.348333e+05,4.684949e+05,...,3.037031e+05,2.899462e+05,4.233725e+05,4.424594e+05,5.860208e+05,4.460828e+05,4.613883e+05,4.340222e+05,3.147024e+05,9.577731e+05
4,11110560,4.453675e+05,322148.8130,400892.5676,4.186339e+05,3.711181e+05,3.058051e+05,4.018694e+05,4.300981e+05,5.930191e+05,...,3.455974e+05,3.978145e+05,5.278578e+05,5.251805e+05,7.007987e+05,5.997494e+05,7.283428e+05,6.325661e+05,4.920556e+05,1.282343e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,11740650,7.742901e+05,268591.4583,357729.7828,4.533427e+05,7.257724e+05,7.687949e+05,8.831992e+05,7.945728e+05,7.416191e+05,...,8.628260e+05,8.116022e+05,8.732074e+05,7.353690e+05,7.908628e+05,7.111691e+05,9.114545e+05,7.620671e+05,6.639309e+05,1.398666e+06
420,11740660,6.252645e+05,375845.7506,659260.7511,5.956217e+05,7.480203e+05,6.837238e+05,8.569198e+05,8.422490e+05,8.723938e+05,...,7.764874e+05,7.362606e+05,8.367842e+05,8.103505e+05,8.275119e+05,8.118529e+05,8.935503e+05,7.646564e+05,5.950966e+05,1.245244e+06
421,11740685,1.326496e+06,641448.3626,843942.5202,1.009203e+06,1.351954e+06,1.357325e+06,1.474625e+06,1.381412e+06,1.466793e+06,...,1.478067e+06,1.454730e+06,1.512014e+06,1.369853e+06,1.655439e+06,1.529859e+06,1.740158e+06,1.677348e+06,1.261903e+06,2.817127e+06
422,11740690,2.024511e+05,153437.1268,227900.8977,1.166075e+05,1.401763e+05,1.350224e+05,1.819886e+05,1.842143e+05,2.238555e+05,...,1.130371e+05,1.351780e+05,1.983358e+05,1.816954e+05,2.075119e+05,1.841055e+05,2.152488e+05,1.726064e+05,1.402551e+05,3.753633e+05
423,11740700,8.587971e+05,433223.9261,596142.4296,5.030840e+05,6.117398e+05,6.339093e+05,6.973545e+05,7.111712e+05,6.865183e+05,...,6.239455e+05,6.652625e+05,7.564815e+05,7.358740e+05,7.802291e+05,7.980226e+05,9.010927e+05,7.734158e+05,6.687848e+05,1.460559e+06

In [120]:
#연령대 범위 조절
people2['남자0~9세']= people2['남자0세부터9세생활인구수']
people2['남자10대']=people2['남자10세부터14세생활인구수']+people2['남자15세부터19세생활인구수']
people2['남자20대']=people2['남자20세부터24세생활인구수']+people2['남자25세부터29세생활인구수']
people2['남자30대']=people2['남자30세부터34세생활인구수']+people2['남자35세부터39세생활인구수']
people2['남자40대']=people2['남자40세부터44세생활인구수']+people2['남자45세부터49세생활인구수']
people2['남자50대']=people2['남자50세부터54세생활인구수']+people2['남자55세부터59세생활인구수']
people2['남자60대']=people2['남자60세부터64세생활인구수']+people2['남자65세부터69세생활인구수']
people2['남자70대이상']=people2['남자70세이상생활인구수']
people2['여자0~9세']= people2['여자0세부터9세생활인구수']
people2['여자10대']=people2['여자10세부터14세생활인구수']+people2['여자15세부터19세생활인구수']
people2['여자20대']=people2['여자20세부터24세생활인구수']+people2['여자25세부터29세생활인구수']
people2['여자30대']=people2['여자30세부터34세생활인구수']+people2['여자35세부터39세생활인구수']
people2['여자40대']=people2['여자40세부터44세생활인구수']+people2['여자45세부터49세생활인구수']
people2['여자50대']=people2['여자50세부터54세생활인구수']+people2['여자55세부터59세생활인구수']
people2['여자60대']=people2['여자60세부터64세생활인구수']+people2['여자65세부터69세생활인구수']
people2['여자70대이상']=people2['여자70세이상생활인구수']
people2

,행정동_코드,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,남자35세부터39세생활인구수,남자40세부터44세생활인구수,남자45세부터49세생활인구수,...,남자60대,남자70대이상,여자0~9세,여자10대,여자20대,여자30대,여자40대,여자50대,여자60대,여자70대이상
0,11110515,4.191558e+05,267087.0633,408424.6299,4.136476e+05,4.680270e+05,4.152517e+05,4.556999e+05,4.750587e+05,5.815911e+05,...,4.504507e+05,4.615962e+05,3.597021e+05,4.775443e+05,8.177073e+05,9.060114e+05,1.115635e+06,9.416615e+05,6.044931e+05,8.735710e+05
1,11110530,2.854198e+05,126853.2624,212922.5727,3.244386e+05,6.534535e+05,7.646579e+05,9.959946e+05,9.031251e+05,1.070096e+06,...,7.495472e+05,6.321877e+05,3.142131e+05,4.559950e+05,1.539346e+06,1.910153e+06,1.650395e+06,1.232621e+06,8.164398e+05,9.421094e+05
2,11110540,5.174425e+04,39648.3429,147388.5212,2.855153e+05,1.547595e+05,1.779054e+05,1.950738e+05,1.777599e+05,2.101808e+05,...,1.942521e+05,1.356123e+05,5.468451e+04,9.790516e+04,2.750588e+05,3.383655e+05,3.259052e+05,2.771741e+05,2.258132e+05,2.265504e+05
3,11110550,3.038459e+05,235597.9273,330177.4754,3.750320e+05,2.985215e+05,2.661393e+05,3.636404e+05,3.348333e+05,4.684949e+05,...,5.813020e+05,5.769712e+05,2.785749e+05,5.716224e+05,6.313322e+05,7.133188e+05,1.028480e+06,9.074712e+05,7.487246e+05,9.577731e+05
4,11110560,4.453675e+05,322148.8130,400892.5676,4.186339e+05,3.711181e+05,3.058051e+05,4.018694e+05,4.300981e+05,5.930191e+05,...,8.770214e+05,7.565618e+05,4.985887e+05,7.457228e+05,7.439437e+05,9.256723e+05,1.225979e+06,1.328092e+06,1.124622e+06,1.282343e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,11740650,7.742901e+05,268591.4583,357729.7828,4.533427e+05,7.257724e+05,7.687949e+05,8.831992e+05,7.945728e+05,7.416191e+05,...,1.032269e+06,9.117392e+05,4.990369e+05,6.032333e+05,1.475790e+06,1.684810e+06,1.526232e+06,1.622624e+06,1.425998e+06,1.398666e+06
420,11740660,6.252645e+05,375845.7506,659260.7511,5.956217e+05,7.480203e+05,6.837238e+05,8.569198e+05,8.422490e+05,8.723938e+05,...,1.028143e+06,8.766230e+05,4.699058e+05,6.773340e+05,1.444423e+06,1.573045e+06,1.637862e+06,1.705403e+06,1.359753e+06,1.245244e+06
421,11740685,1.326496e+06,641448.3626,843942.5202,1.009203e+06,1.351954e+06,1.357325e+06,1.474625e+06,1.381412e+06,1.466793e+06,...,2.176484e+06,1.822363e+06,1.390440e+06,1.461615e+06,2.652808e+06,2.966744e+06,3.025292e+06,3.270017e+06,2.939250e+06,2.817127e+06
422,11740690,2.024511e+05,153437.1268,227900.8977,1.166075e+05,1.401763e+05,1.350224e+05,1.819886e+05,1.842143e+05,2.238555e+05,...,2.921685e+05,2.237913e+05,1.386463e+05,2.316213e+05,2.394343e+05,3.335138e+05,3.892073e+05,3.993543e+05,3.128615e+05,3.753633e+05
423,11740700,8.587971e+05,433223.9261,596142.4296,5.030840e+05,6.117398e+05,6.339093e+05,6.973545e+05,7.111712e+05,6.865183e+05,...,1.095955e+06,1.223490e+06,5.635109e+05,7.781318e+05,1.202435e+06,1.421744e+06,1.516103e+06,1.699115e+06,1.442201e+06,1.460559e+06

In [121]:
#필요한 열만 추출
people_day=people2.filter(['행정동_코드','남자0~9세','남자10대','남자20대','남자30대','남자40대','남자50대','남자60대','남자70대이상',
                          '여자0~9세','여자10대','여자20대','여자30대','여자40대','여자50대','여자60대','여자70대이상'])
people_day

,행정동_코드,남자0~9세,남자10대,남자20대,남자30대,남자40대,남자50대,남자60대,남자70대이상,여자0~9세,여자10대,여자20대,여자30대,여자40대,여자50대,여자60대,여자70대이상
0,11110515,4.191558e+05,6.755117e+05,8.816746e+05,8.709515e+05,1.056650e+06,8.008679e+05,4.504507e+05,4.615962e+05,3.597021e+05,4.775443e+05,8.177073e+05,9.060114e+05,1.115635e+06,9.416615e+05,6.044931e+05,8.735710e+05
1,11110530,2.854198e+05,3.397758e+05,9.778921e+05,1.760652e+06,1.973221e+06,1.438371e+06,7.495472e+05,6.321877e+05,3.142131e+05,4.559950e+05,1.539346e+06,1.910153e+06,1.650395e+06,1.232621e+06,8.164398e+05,9.421094e+05
2,11110540,5.174425e+04,1.870369e+05,4.402748e+05,3.729793e+05,3.879407e+05,3.287828e+05,1.942521e+05,1.356123e+05,5.468451e+04,9.790516e+04,2.750588e+05,3.383655e+05,3.259052e+05,2.771741e+05,2.258132e+05,2.265504e+05
3,11110550,3.038459e+05,5.657754e+05,6.735535e+05,6.297797e+05,8.033282e+05,7.985939e+05,5.813020e+05,5.769712e+05,2.785749e+05,5.716224e+05,6.313322e+05,7.133188e+05,1.028480e+06,9.074712e+05,7.487246e+05,9.577731e+05
4,11110560,4.453675e+05,7.230414e+05,7.897521e+05,7.076745e+05,1.023117e+06,1.085195e+06,8.770214e+05,7.565618e+05,4.985887e+05,7.457228e+05,7.439437e+05,9.256723e+05,1.225979e+06,1.328092e+06,1.124622e+06,1.282343e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,11740650,7.742901e+05,6.263212e+05,1.179115e+06,1.651994e+06,1.536192e+06,1.289386e+06,1.032269e+06,9.117392e+05,4.990369e+05,6.032333e+05,1.475790e+06,1.684810e+06,1.526232e+06,1.622624e+06,1.425998e+06,1.398666e+06
420,11740660,6.252645e+05,1.035107e+06,1.343642e+06,1.540644e+06,1.714643e+06,1.538122e+06,1.028143e+06,8.766230e+05,4.699058e+05,6.773340e+05,1.444423e+06,1.573045e+06,1.637862e+06,1.705403e+06,1.359753e+06,1.245244e+06
421,11740685,1.326496e+06,1.485391e+06,2.361157e+06,2.831950e+06,2.848205e+06,2.666208e+06,2.176484e+06,1.822363e+06,1.390440e+06,1.461615e+06,2.652808e+06,2.966744e+06,3.025292e+06,3.270017e+06,2.939250e+06,2.817127e+06
422,11740690,2.024511e+05,3.813380e+05,2.567838e+05,3.170110e+05,4.080698e+05,4.103948e+05,2.921685e+05,2.237913e+05,1.386463e+05,2.316213e+05,2.394343e+05,3.335138e+05,3.892073e+05,3.993543e+05,3.128615e+05,3.753633e+05
423,11740700,8.587971e+05,1.029366e+06,1.114824e+06,1.331264e+06,1.397690e+06,1.362923e+06,1.095955e+06,1.223490e+06,5.635109e+05,7.781318e+05,1.202435e+06,1.421744e+06,1.516103e+06,1.699115e+06,1.442201e+06,1.460559e+06

In [122]:
#하루평균 생활인구
people_day['남자0~9세']=round(people_day['남자0~9세']/31.0,2)
people_day['남자10대']=round(people_day['남자10대']/31.0,2)
people_day['남자20대']=round(people_day['남자20대']/31.0,2)
people_day['남자30대']=round(people_day['남자30대']/31.0,2)
people_day['남자40대']=round(people_day['남자40대']/31.0,2)
people_day['남자50대']=round(people_day['남자50대']/31.0,2)
people_day['남자60대']=round(people_day['남자60대']/31.0,2)
people_day['남자70대이상']=round(people_day['남자70대이상']/31.0,2)
people_day['여자0~9세']=round(people_day['여자0~9세']/31.0,2)
people_day['여자10대']=round(people_day['여자10대']/31.0,2)
people_day['여자20대']=round(people_day['여자20대']/31.0,2)
people_day['여자30대']=round(people_day['여자30대']/31.0,2)
people_day['여자40대']=round(people_day['여자40대']/31.0,2)
people_day['여자50대']=round(people_day['여자50대']/31.0,2)
people_day['여자60대']=round(people_day['여자60대']/31.0,2)
people_day['여자70대이상']=round(people_day['여자70대이상']/31.0,2)
people_day

,행정동_코드,남자0~9세,남자10대,남자20대,남자30대,남자40대,남자50대,남자60대,남자70대이상,여자0~9세,여자10대,여자20대,여자30대,여자40대,여자50대,여자60대,여자70대이상
0,11110515,13521.15,21790.70,28441.12,28095.21,34085.48,25834.45,14530.67,14890.20,11603.29,15404.66,26377.66,29226.18,35988.22,30376.18,19499.78,28179.71
1,11110530,9207.09,10960.51,31544.91,56795.24,63652.30,46399.05,24178.94,20393.15,10135.91,14709.52,49656.31,61617.84,53238.54,39761.98,26336.77,30390.62
2,11110540,1669.17,6033.45,14202.41,12031.59,12514.22,10605.90,6266.20,4374.59,1764.02,3158.23,8872.87,10915.02,10513.07,8941.10,7284.30,7308.08
3,11110550,9801.48,18250.82,21727.53,20315.47,25913.81,25761.09,18751.68,18611.98,8986.29,18439.43,20365.55,23010.28,33176.78,29273.26,24152.41,30895.91
4,11110560,14366.69,23323.92,25475.87,22828.21,33003.78,35006.30,28291.01,24405.22,16083.51,24055.58,23998.18,29860.40,39547.71,42841.68,36278.12,41365.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,11740650,24977.10,20203.91,38035.97,53290.13,49554.58,41593.10,33299.00,29410.94,16097.97,19459.14,47606.13,54348.70,49233.28,52342.70,45999.93,45118.27
420,11740660,20169.82,33390.53,43343.29,49698.18,55311.06,49616.82,33165.91,28278.16,15158.25,21849.48,46594.30,50743.38,52834.27,55013.01,43863.00,40169.17
421,11740685,42790.19,47915.83,76166.34,91353.24,91877.59,86006.71,70209.16,58785.89,44852.89,47148.87,85574.45,95701.42,97590.08,105484.43,94814.53,90875.06
422,11740690,6530.68,12301.23,8283.35,10226.16,13163.54,13238.54,9424.79,7219.07,4472.46,7471.65,7723.69,10758.51,12555.07,12882.40,10092.31,12108.49
423,11740700,27703.13,33205.37,35962.06,42943.99,45086.76,43965.27,35353.40,39467.43,18177.77,25101.03,38788.23,45862.71,48906.55,54810.17,46522.60,47114.79

In [123]:
#csv내보내기
people_day.to_csv("행정동별_연령대_생활인구.csv",mode="w",encoding='euc-kr',index=False)