In [2]:
import pandas as pd
import numpy as np

# 학교

In [16]:
#학교 데이터 불러오기
school= pd.read_csv('한국교원대학교_초중등학교위치_파일데이터_20210915.csv',encoding='cp949')
school

,학교아이디,학교명,학교급구분,설립일자,설립형태,본교분교구분,운영상태,소재지지번주소,소재지도로명주소,시도교육청코드,시도교육청명,교육지원청코드,교육지원청명,생성일자,변경일자,위도,경도,데이터기준일자
0,B000013479,대영고등학교,고등학교,1987-12-15,공립,본교,운영,서울특별시 영등포구 신길동 336-2,서울특별시 영등포구 도림로86길 16,7010000,서울특별시교육청,7041000,서울특별시남부교육지원청,2013-11-29,2021-07-05,37.503661,126.905866,2021-09-15
1,B000002213,서울양동초등학교,초등학교,1972-08-11,공립,본교,운영,서울특별시 양천구 신정동 941,서울특별시 양천구 오목로23길 24,7010000,서울특별시교육청,7081300,서울특별시강서양천교육지원청,2013-11-29,2021-07-05,37.525848,126.851240,2021-09-15
2,B000002295,서울신구초등학교,초등학교,1981-11-03,공립,본교,운영,서울특별시 강남구 신사동 550-11,서울특별시 강남구 압구정로18길 28,7010000,서울특별시교육청,7091300,서울특별시강남서초교육지원청,2013-11-29,2021-07-05,37.523361,127.023992,2021-09-15
3,B000001877,서울봉화초등학교,초등학교,1996-09-19,공립,본교,운영,서울특별시 중랑구 신내동 655,서울특별시 중랑구 신내로15길 110,7010000,서울특별시교육청,7021000,서울특별시동부교육지원청,2013-11-29,2021-07-05,37.613576,127.092409,2021-09-15
4,B000011355,단국대학교부속소프트웨어고등학교,고등학교,1950-11-03,사립,본교,운영,서울특별시 강남구 대치동 1013-3,서울특별시 강남구 도곡로64길 21,7010000,서울특별시교육청,7091300,서울특별시강남서초교육지원청,2013-11-29,2021-07-05,37.495625,127.057768,2021-09-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1307,B000025372,서울해누리초등학교,초등학교,2019-03-01,공립,본교,운영,서울특별시 송파구 가락동 479-1,서울특별시 송파구 송파대로37길 95,7010000,서울특별시교육청,7130000,서울특별시강동송파교육지원청,2013-11-29,2021-07-05,37.498412,127.102124,2021-09-15
1308,B000026183,서울항동초등학교,초등학교,2019-05-01,공립,본교,운영,서울특별시 구로구 항동 160,서울특별시 구로구 연동로 178,7010000,서울특별시교육청,7041000,서울특별시남부교육지원청,2013-11-29,2021-07-05,37.477016,126.824110,2021-09-15
1309,B000025614,서울하늘숲초등학교,초등학교,2019-03-01,공립,본교,운영,서울특별시 구로구 천왕동 산13-1,서울특별시 구로구 오리로 1106,7010000,서울특별시교육청,7041000,서울특별시남부교육지원청,2013-11-29,2021-07-05,37.484159,126.841418,2021-09-15
1310,B000002175,서울고일초등학교,초등학교,1984-05-06,공립,본교,운영,서울특별시 강동구 상일동 125,서울특별시 강동구 구천면로93길 20,7010000,서울특별시교육청,7130000,서울특별시강동송파교육지원청,2013-11-29,2021-07-05,37.551543,127.169410,2021-09-15
1311,B000002124,서울가락초등학교,초등학교,1981-09-09,공립,본교,운영,서울특별시 송파구 가락동 477,서울특별시 송파구 송파대로37길 45,7010000,서울특별시교육청,7130000,서울특별시강동송파교육지원청,2013-11-29,2021-07-05,37.500021,127.107642,2021-09-15

In [17]:
#필요한 열만 추출
school=school[['학교급구분','경도','위도']]
school

     학교급구분          경도         위도
0     고등학교  126.905866  37.503661
1     초등학교  126.851240  37.525848
2     초등학교  127.023992  37.523361
3     초등학교  127.092409  37.613576
4     고등학교  127.057768  37.495625
...    ...         ...        ...
1307  초등학교  127.102124  37.498412
1308  초등학교  126.824110  37.477016
1309  초등학교  126.841418  37.484159
1310  초등학교  127.169410  37.551543
1311  초등학교  127.107642  37.500021

[1312 rows x 3 columns]

In [18]:
#학교 경위도 좌표계를 행정동으로
import pandas as pd
import requests 
import sys
import json
import datetime 



def json_request(url='', encoding='utf-8', success=None, error=lambda e: print('%s : %s' % (e, datetime.now()), file=sys.stderr)):
    headers = {'Authorization': 'KakaoAK {}'.format(APP_KEY)}
    resp = requests.get(url, headers=headers)
    # print('%s : success for request [%s]' % (datetime.now(), url))
    return resp.text


def reverse_geocode(longitude, latitude):
    # 파라미터 최적화하여 url 생성
    url = '%s?x=%s&y=%s' %(URL, longitude, latitude)
    # json request
    try:
        # print('try')
        json_req = json_request(url=url)
        json_data = json.loads(json_req)
        json_doc = json_data.get('documents')[1]
        json_name = json_doc.get('region_3depth_name')
        json_code = json_doc.get('code')
    except:
        # print('nan')
        json_name = 'NaN'
        json_code = 'NaN'
    return json_name, json_code

 
def get_address(x,y):
    address = []        
    json_name, json_code = reverse_geocode(x, y) 
    address.append(json_name)
    return address # 전처리 함수에서 주소 리스트 받아서 데이터프레임에 추가


def get_code(x,y):
    code = []        
    json_name, json_code = reverse_geocode(x, y) 
    code.append(json_code)
    return code # 전처리 함수에서 행정구역코드 리스트 받아서 데이터프레임에 추가
    


APP_KEY = 'dc125ad9de42a4ee620f0bdb2e623811' 
URL = 'https://dapi.kakao.com/v2/local/geo/coord2regioncode.json'

school['행정동명']=''
school['행정동_코드']=''

for i in range(len(school)): 
    x_crd = float(school.loc[i, ['경도']])
    y_crd = float(school.loc[i, ['위도']])
    address = get_address(x_crd, y_crd)
    code = get_code(x_crd, y_crd)
    school.loc[i, ['행정동명']] = address
    school.loc[i, ['행정동_코드']] = code
    
    if i%100 == 0:
        print('{} 번째 경위도 좌표계에 대한 정보 불러오는 중...'.format(i))

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_16216\476964120.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  school['행정동명']=''
C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_16216\476964120.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  school['행정동_코드']=''

0 번째 경위도 좌표계에 대한 정보 불러오는 중...
100 번째 경위도 좌표계에 대한 정보 불러오는 중...
200 번째 경위도 좌표계에 대한 정보 불러오는 중...
300 번째 경위도 좌표계에 대한 정보 불러오는 중...
400 번째 경위도 좌표계에 대한 정보 불러오는 중...
500 번째 경위도 좌표계에 대한 정보 불러오는 중...
600 번째 경위도 좌표계에 대한 정보 불러오는 중...
700 번째 경위도 좌표계에 대한 정보 불러오는 중...
800 번째 경위도 좌표계에 대한 정보 불러오는 중...
900 번째 경위도 좌표계에 대한 정보 불러오는 중...
1000 번째 경위도 좌표계에 대한 정보 불러오는 중...
1100 번째 경위도 좌표계에 대한 정보 불러오는 중...
1200 번째 경위도 좌표계에 대한 정보 불러오는 중...
1300 번째 경위도 좌표계에 대한 정보 불러오는 중...

In [19]:
#추출한 data
school

     학교급구분          경도         위도  행정동명      행정동_코드
0     고등학교  126.905866  37.503661  신길5동  1156067000
1     초등학교  126.851240  37.525848  신정4동  1147065000
2     초등학교  127.023992  37.523361   신사동  1168051000
3     초등학교  127.092409  37.613576  신내2동  1126069000
4     고등학교  127.057768  37.495625  대치1동  1168060000
...    ...         ...        ...   ...         ...
1307  초등학교  127.102124  37.498412  가락1동  1171063100
1308  초등학교  126.824110  37.477016    항동  1153080000
1309  초등학교  126.841418  37.484159  오류2동  1153078000
1310  초등학교  127.169410  37.551543  상일1동  1174052500
1311  초등학교  127.107642  37.500021  가락1동  1171063100

[1312 rows x 5 columns]

In [20]:
#행정동_코드 8자리로 변경
for i in range(len(school)):
    school['행정동_코드'][i]=school['행정동_코드'][i][0:8]
school

C:\Users\SAMSUNG\AppData\Local\Temp\ipykernel_16216\3287731075.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  school['행정동_코드'][i]=school['행정동_코드'][i][0:8]

     학교급구분          경도         위도  행정동명    행정동_코드
0     고등학교  126.905866  37.503661  신길5동  11560670
1     초등학교  126.851240  37.525848  신정4동  11470650
2     초등학교  127.023992  37.523361   신사동  11680510
3     초등학교  127.092409  37.613576  신내2동  11260690
4     고등학교  127.057768  37.495625  대치1동  11680600
...    ...         ...        ...   ...       ...
1307  초등학교  127.102124  37.498412  가락1동  11710631
1308  초등학교  126.824110  37.477016    항동  11530800
1309  초등학교  126.841418  37.484159  오류2동  11530780
1310  초등학교  127.169410  37.551543  상일1동  11740525
1311  초등학교  127.107642  37.500021  가락1동  11710631

[1312 rows x 5 columns]

In [21]:
#필요한 열만 추출
school=school.filter(['학교급구분','행정동_코드'])
school

     학교급구분    행정동_코드
0     고등학교  11560670
1     초등학교  11470650
2     초등학교  11680510
3     초등학교  11260690
4     고등학교  11680600
...    ...       ...
1307  초등학교  11710631
1308  초등학교  11530800
1309  초등학교  11530780
1310  초등학교  11740525
1311  초등학교  11710631

[1312 rows x 2 columns]

In [24]:
#행정동별 학교수 구하기
school=school.groupby(school["행정동_코드"],as_index=False).count()
school.rename(columns={'학교급구분':'학교수'},inplace=True)
school

       행정동_코드  학교수
0    11110515    6
1    11110530    1
2    11110540    2
3    11110550    4
4    11110560    1
..        ...  ...
387  11740620    1
388  11740640    3
389  11740685    4
390  11740690    2
391  11740700    5

[392 rows x 2 columns]

In [25]:
#CSV내보내기
school.to_csv("행정동별_학교수.csv",mode="w",encoding='euc-kr',index=False)